/* 전체 배경 */
body {
  background-color: #ffffff;
}

/* 달력 컨테이너 */
.react-calendar {
  width: 100% !important;
  height: 100% !important;
  border: none !important;
  display: flex;
  flex-direction: column;
}

.react-calendar__viewContainer {
  flex-grow: 1;
}

.react-calendar__month-view {
  height: 100%;
}

/* 달력 칸(Tile) 디자인 */
.react-calendar__tile {
  height: 140px !important;      
  max-height: 140px !important;
  padding: 0 !important;
  position: relative !important;
  overflow: hidden !important;
  border: 0.5px solid #f8f8f8 !important; 
}

/* 날짜 숫자 */
.react-calendar__tile abbr {
  display: block;
  margin-top: 8px;
  margin-left: 8px;
  font-weight: 700;
  font-size: 0.95rem;
  color: #333;
  text-align: left;
}

/* 오늘 날짜 강조 커스텀 */
.react-calendar__tile--now {
  background: #fff !important;
}
.react-calendar__tile--now abbr {
  color: #ef4444 !important;
}

/* 선택된 날짜 타일 배경 초기화 */
.react-calendar__tile--active {
  background: #fff !important;
}